
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Manage_Bookkmark.cshtml";
    
}
<div style="height:50px"></div>
<h2>Delete</h2>

<script type="text/javascript">
    function CloseWindow() {
        //window.opener.location.reload();
            window.close();
    }
</script>



    <table style="height:80%;width:100%;border:solid;border-radius:10px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED" cellpadding="5" cellspacing="5">
        <tr>
            <td style="font-weight: bold; color: red;padding-left:30%">
                @ViewBag.Ack<br />
            </td>
        </tr>
        <tr>
            <td align="center" style="padding-left:10px">
                <span style="font-weight:bold"> Bookmark saved successfully </span>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" value="Close" id="btnYes" name="btnYes" style="height:40px;border-radius:5px" class="mysubmit" onclick="CloseWindow()" />&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>
