@{
    Layout = null;
}

<!DOCTYPE html>
<title>Client Page</title>
<html>

<body>
    <div id="divBookkmark"></div>
    <script id="bookkmark" src="http://localhost/Bookkmark/Bookkmark.1.249.js?cid=2468&h=60&w=50&data=true"></script>

</body>
</html>
