@{
    Layout = null;
}

<!DOCTYPE html>
<title>Client Page</title>
<html>

<body>
    <script id="bookkmark" src="http://localhost/JavaScriptProgram/Bookkmark.1.249.js?cid=2468&h=60&w=40&data=true"></script>

</body>
</html>
