@{
    ViewBag.Title = "My Bookkmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100px"></div>
<h2>My Bookkmarks</h2>
@model List<Bookkmark.Models.Bookkmark>

<style>
    .collapse1 {
        width: 28px;
        background-image: url('../../Bookkmark/Images/Folder.png');
        background-repeat: no-repeat;
        /*background-position: -36px -17px;*/
        display: inline-block;
        /*cursor: pointer;*/
    }

    .expand1 {
        width: 28px;
        background-image: url('../../Bookkmark/Images/FolderOpen2.png');
        background-repeat: no-repeat;
        /*background-position: -50px -17px;*/
        display: inline-block;
        /*cursor: pointer;*/

    }

    .treeview ul {
        font: 20px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 2%;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
    } 

        .treeview li a {
            padding: 4px;
            font-size: 18px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }
</style>

<div style="height:10px"></div>
<div style="border:solid 1px black; padding:10px; border-radius:5px; background-color:#FAFAFA;border-color:lightgrey;">
    <div class="treeview">
        @if (Model != null && Model.Count() > 0)
        {
            <ul>
                @Treeview.GetTreeView(Model, Model.FirstOrDefault().ParentID)
            </ul>
        }
    </div>
    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Edit">Edit</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Delete">Delete</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Add">Add New Bookkmark</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Add">Add New Folder</a>
            </li>
        </ul>
    </nav>
</div>

<div style="height:10px"></div>

@*@using (Html.BeginForm("Manage", "Bookkmark"))
{*@
            @*<div class="row">
                <div class="col-md-7">
                         </div>
                 <div class="col-md-2">
                     @Html.TextBox("txtFolderName", "", new { style = "border:groove;width:100%;border-width:1px;border-color:grey;border-radius:5px;height:32px;", placeholder = "Create New Folder - Name" })
                 </div>
                 <div class="col-md-2">
                     @Html.DropDownList("ddFolder", new SelectList((System.Collections.IEnumerable)Model, "FolderId", "Name"), "---Select Folder---", new { style = "height:30px;border:1px solid lightgrey;border-radius:5px;font-size:16px;width:150px;" })
                     <br /> Folder in which the new folder has to be created
                 </div>
                 <div class="col-md-1">
                     <input type="submit" value="Submit" id="btnCreateFolder" onclick="return ValidateNewFolder()" style="height:40px;border-radius:5px" class="mysubmit" />
                 </div>
                
             </div>*@

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".treeview li>ul").css('display', 'show'); // Hide all 2-level ul
            $(".collapsible").click(function (e) {
                e.preventDefault();
                $(this).toggleClass("collapse1 expand1");
                $(this).closest('li').children('ul').slideToggle();
            });
        });
    </script>
    <script src="~/Scripts/js/main.js"></script>
}

@*}*@



        <style>
            /* context menu */

            .context-menu {
                display: none;
                position:  absolute;
                z-index: 10;
                padding: 0px 0;
                width: 180px;
                background-color: #fff;
                border: solid 1px #dfdfdf;
                box-shadow: 1px 1px 2px #cfcfcf;
            }

            .context-menu--active {
                display: inline-block;
            }

            .context-menu__items {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .context-menu__item {
                display: block;
                margin-bottom: 0px;
            }

                .context-menu__item:last-child {
                    margin-bottom: 0;
                }

            .context-menu__link {
                display: block;
                padding: 4px 12px;
                color: #333;
                text-decoration: none;
            }

                .context-menu__link:hover {
                    color: #333;
                    background-color: #F3CD50;
                }
        </style>
