
@{
    ViewBag.Title = "Rename";
    Layout = "~/Views/Shared/Manage_Bookkmark.cshtml";
}
<div style="height:100px"></div>
<h2>Rename</h2>

<script type="text/javascript">
    window.onload = function () {

        var RefreshValue = @Html.Raw(Json.Encode(ViewData["Refresh"]));
        if(RefreshValue != null)
        {
            window.opener.location.reload();
            window.close();
        }
    };
</script>


@using (Html.BeginForm("Manage", "Bookkmark"))
{
    <div style="height:100px"></div>
    <input type="submit" value="Submit" id="btnEdit" name="btnEdit" style="height:40px;border-radius:10px" class="mysubmit" />
}