@{
        Layout = null;
}
<html>
<head>
   @*<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bookmark</title>*@
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "https://api.ipify.org?format=jsonp&callback=DisplayIP";
            document.getElementsByTagName("head")[0].appendChild(script);
            var curURL = window.location.href;
            var hidden = document.createElement("hidden");
            hidden.id = "ipAddr";
            document.body.appendChild(hidden);
            document.getElementById("imgBookkmark").style.height = @Html.Raw(Json.Encode(ViewData["ht"]));
            document.getElementById("imgBookkmark").style.width = @Html.Raw(Json.Encode(ViewData["wd"]));
            document.getElementById("imgBookkmark").src = @Html.Raw(Json.Encode(ViewData["bookkmarkImgSrc"]));
        };
        function DisplayIP(response) {
            document.getElementById("ipAddr").value = response.ip.toString();
        }
        function AddBookkmark()
        {
            var BookkmarkModel = {
                'Bookkmark': document.referrer,
                'title':@Html.Raw(Json.Encode(ViewData["title"])),
                'ipAddr': document.getElementById("ipAddr").value,
                'bookkmarkImgSrc' : document.getElementById("imgBookkmark").src
            };
            $.ajax({
                url: '/bookkmark/bookkmark/addbm',
                type: 'POST',
                dataType: "text",
                data: BookkmarkModel,
                success: function (data) {
                    if(data == null || data == ""){
                        //alert("Bookkmark not added");
                        var left = (screen.width)-(0.30*screen.width);
                        var top = (screen.height)-(0.80*screen.height);
                        var height = screen.height*0.50;
                        var width = screen.height*0.38;
                        window.open("/bookkmark/account/quicklogin", "_blank", "toolbar=yes,scrollbars=no,resizable=no,top="+top+",left="+left+",width="+width+",height="+height+"");
                    }
                    else
                    {
                        var res = data.split(",");  
                        document.getElementById("imgBookkmark").src = res[0];
                        if(res[1]=="Edit")
                        {
                            var left = (screen.width) - (0.50 * screen.width);
                            var top = (screen.height) - (0.60 * screen.height);
                            var height = 305;
                            var width = 500;
                            window.open("/bookkmark/bookkmark/manage?id=" + res[2] + "&action=" + res[1], "_blank", "toolbar=no,scrollbars=no,resizable=no,top=" + top + ",left=" + left + ",width=" + width + ",height=" + height + "");
                        }
                    }
                },
                error: function(exception) {
                    //alert(exception);
                }
            });
        }
    </script>
    <div>
        <a onclick="AddBookkmark()" href="javascript:void(0);">
            <img id="imgBookkmark" tooltip="Bookkmark this page" />
        </a><br />        
        <span style="font-size:12px;">@ViewData["BookkmarkCount"]</span>
    </div>
</body>
</html>
