@{
    Layout = null;
}

<!DOCTYPE html>
<title>Client Page</title>
<html>

<body>
    <div id="divBqmrq" />
    <script id="bqmrq" src="http://localhost/Bookmark/Bookmark.1.249.js?did=QHG/i6fCO8COREUzCMLZCA=="></script>
</body>
</html>
