@{
    Layout = null;
}

<!DOCTYPE html>
<title>Client Page</title>
<html>

<body>
    <div id="divBqmrq" />
    <script id="bqmrq" src="http://localhost/bookmark/Bookmark.1.249.js?did=LD5ZDE6mufg="></script></body>
</html>
