@{
    Layout = null;
}

<!DOCTYPE html>
<title>Client Page</title>
<html>

<body>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <div id="divBqmrq" />
    <script id="bqmrq" src="http://localhost/bookmark/Bookmark.1.249.js?h=50&w=40&did=LD5ZDE6mufg="></script>




    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>


</body>
</html>



@*<body>
        <div id="divBqmrq" />
        <script id="bqmrq" src="http://localhost/bookmark/Bookmark.1.249.js?h=50&w=40&did=LD5ZDE6mufg="></script>
    </body>
    </html>
    window.onload = function () {
        var queryString = document.getElementById("bqmrq").src.split("?")[1];
        var querystrArray = queryString.split("&");
        var ifrm = document.createElement("iframe");
        var lnk = document.referrer;
        var ht = querystrArray[0].split("=")[1] + "px";
        var wd = querystrArray[1].split("=")[1] + "px";
        var did = querystrArray[2].substring(4);
        //var did = querystrArray[3].split("=")[1];
        ifrm.setAttribute("src", "http://localhost/Bookmark/Bookmark/Show?did=" + did + "&lnk=" + lnk + "&t=" + document.title);
        ifrm.style.border = "none";
        ifrm.style.overflow = "hidden";
        ifrm.scrolling = "no"
        ifrm.style.width = parseInt(wd, 10) + 1;
        ifrm.style.height = parseInt(ht, 10) + 1;
        document.getElementById("bqmrq").appendChild(ifrm);
    };*@
