@{
    Layout = null;
}

<!DOCTYPE html>
<title>Client Page</title>
<html>

<body>
    <div id="divBookmark"></div>
    <script id="bookmark" src="http://localhost/Bookmark/Bookmark.1.249.js?cid=2468&h=60&w=50&data=true"></script>

</body>
</html>
