
@{
    ViewBag.Title = "Extensions";
    Layout = "~/Views/Shared/Manage_Bookmark.cshtml";
}




<div class="container">
    <div class="span12">
            <div class="section_heading" style="padding-top:20px">
                <h3><span>Extensions</span> </h3>
            </div>
        <div class="container">

            <div class="col-12 col-md-6 col-lg-12">
                <div class="text-center">
                    <h3 class="mt20">Download our Chrome and Firefox extensions</h3>
                </div>
            </div>
            <div style="height:20px"></div>
            <div>
                Booqmarqs browser extensions are available currently on Chrome and Firefox. Download and install the extension on your browser so that you don’t have to visit the website to access your bookmarks. Our extensions provide a vertical folder structure view of all your bookmarks as you have them on here. Also you can manage your bookmarks from extension.
            </div>
            <div class="col-12 col-md-6 col-lg-12 text-center ">
                <a href="https://chrome.google.com/webstore/detail/booqmarqs/nabhjndfpicfhnminejhekphlfdaojla" target="_blank"> <img src="~/Images/chromebtn.png" alt=""></a>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/booqmarqs/" target="_blank"> <img src="~/Images/firefoxbtn.png" alt=""></a>
            </div>
        </div>
    </div>
</div>