
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/Manage_Bookmark.cshtml";
}

<script>
    function ValidateImport() {
        var varArticleWordFile = document.getElementById('fileImport').value;
            if (varArticleWordFile == "") {
                alert("Please select your XML file to post");
                return false;
            }
            else {
                if (varArticleWordFile.indexOf("html") < 0 && varArticleWordFile.indexOf("HTML") < 0 && varArticleWordFile.indexOf("htm") < 0 && varArticleWordFile.indexOf("HTM") < 0) {
                    alert('Invalid Format, please select only XML format.');
                    return false;
                }
                else {
                    return true;
                }
            }
        }


</script>
<div class="container">
    <div class="span12">
            <div class="section_heading" style="padding-top:20px">
                <h3><span>Import Bookmarks</span> </h3>
            </div>
        <p>
            To import bookmarks from Chrome, Firefox, IE or any other browser, first export those bookmarks into html file. Then upload the html file here. This will import all your bookmarks into your Bookmark account which you can use anywhere.
            Although this will import all bookmarks but the folder structure may not be 100% accurate. Structure can be easily moved later as desired.
        </p>
        <br />
        <p>
            <div class="form_search">
                @*<div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>*@
                @using (Html.BeginForm("import", "bookmark", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <div class="error_info">@ViewBag.Ack</div>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <input id="fileImport" type="file" class="form-control" required="required" name="fileImport" />
                            </td>
                            <td>
                                @*<input id="btnSubmit" type="submit" value="Import" class="mysubmitsmall" />*@
                                <button type="submit" class="btn btn-block" onclick="return ValidateImport();">Import</button>

                            </td>
                        </tr>
                    </table>
                }

                </div>
</p>
        <div style="height:60px"></div>

<pre style="font-size:14px;font-family:'Roboto', sans-serif;background-color:white;word-break:inherit">
Steps to export your bookmarks from various browsers like Chrome, Firefox, IE to html files
        <h2>Chrome</h2>
                Open Google Chrome, and click the Customize and Control Google Chrome menu > Bookmarks. 

                Next, select Bookmarks manager, or press [CTRL] + [Shift] + [O] on your keyboard. 

                Now, click the Organize menu > Export bookmarks to HTML file:
                    <img src="~/Images/CR3.png" style="height:50%;width:50%" />   



                    <img src="~/Images/CR4.png" style="height:40%;width:40%" />


        <h2>Internet Explorer</h2>
    	        Go to Favorites by clicking on star icon.

    	        Then click on more options on “Add to favorites”

    	        Select “Import and export…”
                    <img src="~/Images/IE1.png" style="height:25%;width:25%" />


                Select “Export to a file” and hit Next and then select “Favorites” and hit Next and the hit Next again until you are prompted for         
                                        @*<img src="~/Images/IE2.png" style="height:40%;width:40%" />     <img src="~/Images/IE3.png" style="height:40%;width:40%" />*@
                Enter the required name for your file and save it in your device. Upload this same file here to import your bookmarks.
                                        @*<img src="~/Images/IE5.png" style="height:40%;width:40%" />*@
        <h2>Mozilla Firefox</h2>
                Go to “Show your bookmarks” and then select “Show All Bookmarks”, this will open a window
                    <img src="~/Images/FF1.png" style="height:30%;width:30%" />

                Select “Import and Backup” and then select “Export Bookmarks to HTML”. Then enter the required name for your file and save it in your device.
 Upload this same file here to import your bookmarks.
                    <img src="~/Images/FF2.png" style="height:40%;width:40%" />




</pre>
        </div>
</div>