@{
    ViewBag.Title = "My Bookmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100px"></div>
<h2>My Bookmarks</h2>
@model List<BookmarkCls>

<style>
    .collapse1 {
        width: 28px;
        background-image: url('../Images/Folder.png');
        background-repeat: no-repeat;
        /*background-position: -36px -17px;*/
        display: inline-block;
        /*cursor: pointer;*/
    }

    .expand1 {
        width: 28px;
        background-image: url('../Images/FolderOpen2.png');
        background-repeat: no-repeat;
        /*background-position: -50px -17px;*/
        display: inline-block;
        /*cursor: pointer;*/

    }

    .treeview ul {
        font: 20px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 2%;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
    } 

    .treeview li a {
        padding: 4px;
        font-size: 18px;
        display: inline-block;
        text-decoration: none;
        width: auto;
    }

    /* context menu */

    .context-menu {
        display: none;
        position:  absolute;
        z-index: 10;
        padding: 0px 0;
        width: 180px;
        background-color: #fff;
        border: solid 1px #dfdfdf;
        box-shadow: 1px 1px 2px #cfcfcf;
    }

    .context-menu--active {
        display: inline-block;
    }

    .context-menu__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .context-menu__item {
        display: block;
        margin-bottom: 0px;
    }

        .context-menu__item:last-child {
            margin-bottom: 0;
        }

    .context-menu__link {
        display: block;
        padding: 4px 12px;
        color: #333;
        text-decoration: none;
    }

    .context-menu__link:hover {
        color: #333;
        background-color: #F3CD50;
    }
</style>

<div style="height:10px"></div>
<div style="border:solid 1px black; padding:10px; border-radius:5px; background-color:#FAFAFA;border-color:lightgrey;">
    <div class="treeview">
        @if (Model != null && Model.Count() > 0)
        {
            <ul>
                @Treeview.GetTreeView(Model, Model.FirstOrDefault().FolderId)
            </ul>
        }
    </div>
    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Edit">Edit</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Move">Move</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="Delete">Delete</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="AddB">Add New Bookmark</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="AddF">Add New Folder</a>
            </li>
        </ul>
    </nav>
</div>

<div style="height:10px"></div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".treeview li>ul").css('display', 'show'); // Hide all 2-level ul
            $(".collapsible").click(function (e) {
                e.preventDefault();
                $(this).toggleClass("collapse1 expand1");
                $(this).closest('li').children('ul').slideToggle();
            });
        });
    </script>
    <script src="~/Scripts/js/main.js"></script>
}

