
@{
    ViewBag.Title = "Choice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:100px"></div>
<h2>Get Started - Select</h2>
<div style="height:50px"></div>

<div class="row">
    

    <div class="col-md-6">
        <h3>Web User</h3>
        I want to have all my bookmarks saved online.<br/>
        <a href="/Bookkmark/Account/WebUserReg" id="webUserReg"> 
            <img src="~/Images/Webuser.jpg" style="width:200px;height:200px" />
        </a>
    </div>


    <div class="col-md-6">
        <h3>Site Owner</h3>
        I want to install Bookkmark on my website.
        <a  href="/Bookkmark/Account/SiteOwnerReg" id="siteOwnerReg">
            <img src="~/Images/siteowner.png" style="width:400px;height:200px" />
        </a>
    </div>
</div>
