
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100px"></div>
<h2>Forgot Password</h2><br />
@using (Html.BeginForm("ForgotPassword", "Account"))
{
    <div style="padding-left:5%">
        <table style="height: 100px; width: 90%;border:solid;border-radius:20px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED">
            <tr>
                <td align="center" colspan="2">
                    <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.Ack</span>
                </td>
            </tr>
            <tr>
                <td style="padding-left:40px">
                    @Html.TextBox("txtEMailId", "", new { @class="form-control", style="width:400px", placeholder = "Email Id" })                    
                </td>
                <td style="text-align:left;padding-right:450px">
                    <input type="submit" value="Submit" id="btnForgotPassword" onclick="return ValidateForgotPassword()" class="mysubmitsmall" />
                </td>
            </tr>
        </table>
        </div>
        }
