
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Manage_Bookmark.cshtml";
}

<section class="pt150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="page_title_area">
                    <div class="section_heading">
                        <h3><span>Forgot your password?</span> </h3>

                    </div>
                </div>

                <div class="contact_from">
                    <form method="post">
                        <div class="form_area">

                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <h3>Enter your email address to get restet link</h3>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="name" id="name" placeholder="Email ID" required>
                                    </div>


                                    <button type="submit" class="btn btn-block">SEND</button>
                                    <p class="mt20 text-center">We'll sent you a password reset link to your email id</p>
                                    <p class="mt20 text-center"><a href="login.html">Back to Login</a></p>

                                </div>



                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@*<div style="height:100px"></div>
<h2>Forgot Password</h2><br />
@using (Html.BeginForm("ForgotPassword", "Account"))
{
    <div>
        <table style="height: 100px; width: 100%;border:solid;border-radius:20px;border-width:0px;border-color:lightgrey;background-color:#EFF0ED">
            <tr>
                <td align="left" colspan="2" style="padding-left:5%">
                    <div id="divAck" style="width: 100%; font-weight: bold;  color: Red">@ViewBag.Ack</div>
                </td>
            </tr>
            <tr>
                <td style="padding-left:40px">
                    @Html.TextBox("txtEMailId", "", new { @class="form-control", style="width:400px", placeholder = "Email Id" })                    
                </td>
                <td style="text-align:left;padding-right:450px">
                    <input type="submit" value="Submit" id="btnForgotPassword" onclick="return ValidateForgotPassword()" class="mysubmitsmall" />
                </td>
            </tr>
        </table>
        </div>
        }*@
