@{
    ViewBag.Title = "Bookkmark - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100px"></div>
<h2>APIs</h2><br />

<pre style="font-size:15px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color:white;word-break:inherit">
Currently we have 2 API's exposed to the users and website owners.
1. Bookkmarks API 
2. Reports API

<b>Bookkmarks API</b> - User can get all his/her bookkmarks in the form of JSON or XML

<b>Reports API</b> - Site owners can get all the information about the user bookmarks like bookmarked date, user location, name, url and more<br /><br />

Please make a separate request from Contact Us section to gain access to API. 
We will get back to you and give the client id along with the key needed to access the API's

</pre>