@{
    ViewBag.Title = "Bookkmark - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100px"></div>
<h2>APIs</h2><br />

<div class="row">
    <p>
        Currently we have 2 API's exposed to the users and website owners.<br />
        1. Bookkmarks API <br/>
        2. Reports API<br/>
        <br/>
        <b>Bookkmarks API</b> - User can get all his/her bookkmarks in the form of JSON or XML<br /><br/>
        <b>Reports API</b> - Site owners can get all the information about the user bookmarks like bookmarked date, user location, name, url and more<br /><br />
    </p>
    <p>
        Please make a separate request from Contact Us section to gain access to API. 
    </p>
    <p>
        We will get back to you and give the client id along with the key needed to access the API's
    </p>
</div>
<p>

</p>