@{
    ViewBag.Title = "Home Page";
}
<div style="height:20px"></div>
<div class="jumbotron">
    @*<h1>Bookkmark</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <span style="font-size:32px">Online bookmarks. Easy to use.<br/>Site owners increase traffic and engage users. Easy setup.</span>
    @*<img src="~/Images/Bookmark.jpg" style="width:50px;height:50px" />*@

    @*<div class="row"><p style="font-size:12px"> </p></div>*@
    <div style="height:10px"></div>
    <div class="row">
        <div class="col-md-8">
            <span style="font-size:20px;font-weight:bold">Web User</span>
            <p>
                @*As we all know how important can be our saved bookmarks which we often do it on our personal devices and the inability to access them at
                times can be disturbing because of change in device or browser or location.*@
                Bookmark is a way of saving all your bookmarks online by just 1 click on the webpage.
                Simply save and access all your bookmarks @*here on Bookkmarks.com*@ without having it to be dependent on machine or browser.
                Users can also import your bookmarks from various browsers .
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/AnyBrowserMachine.png" style="height:200px;width:200px" />
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <span style="font-size:20px;font-weight:bold">Site Owner</span>
            <p>
                Bookmark is a way of increasing web traffic and engage users for site owners, by having the user bookmark your site from your web page and have 
                the user return to your website.  This will help in engaging your users, building a strong user base and increasing trust.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/IncreaseWebTraffic.jpg" style="height:200px;width:200px" />
        </div>
    </div>
    <div style="height:100px"></div>

    <div class="row">
        <h2>How it works</h2>

        <div class="col-md-6">
            <span style="font-size:20px;font-weight:bold">Web User</span>
            Just click once on the Bookmark icon on the web page and get it saved in your account. 
            After saving the bookmark user will see a small green tick mark on the icon to confirm that bookmark has been saved. Bookmark icon will be disabled for a 
            particular page after bookmarking and also if the user is revisiting the same page. If the user still clicks on the disabled icon then it will open 
            a small window to edit the Bookmark saved. By default all Bookmarks will be saved under Default folder until the user edits it. <br/>
            <img src="~/Images/WebUser.png" style="width:70%;height:400px" />
        </div>
        <div class="col-md-6">
            <span style="font-size:20px;font-weight:bold">Site Owner</span>
            Register your website with your site URL and name. Then generate the script code by selecting the desired icon 
            size needed to match your application and by selecting if you want to display the total bookmark count. Copy and paste the code in your application where you want the Bookmark 
            icon to be displayed on your web pages. It is recommended that you place this icon on every unique webpage of your application in such a way that the icon is highlighted. <br/>
            <img src="~/Images/SiteOwnerFC.png" style="width:70%;height:400px" />
        </div>
    </div>
    <div style="height:100px"></div>

    <div class="row">
        <h2>What to expect</h2>
        <div class="col-md-8">
            <span  style="font-size:20px;font-weight:bold">Web User</span>
            <p>
                A tree view kind of structure will be presented to the user 
            where in all the Bookmarks of the user will be displayed similar to browser bookmark toolbar. All folders and bookmarks can be edited, deleted and added manually by using the right click menu on the item. Each Bookmark will have a Name, Link, Date Created and Modified fields.
            All the Bookmarks will be displayed in alphabetical order of the Folder. Users can also import Bookmarks from various browsers like IE, Mozilla and Chrome.       </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/Folders.jpg" style="height:200px;width:200px" />
        </div>
    </div>
    <div style="height:100px"></div>
    <div class="row">
        <div class="col-md-8">
            <span  style="font-size:20px;font-weight:bold">Site Owner</span>
            <p>
                Access information about your site bookmarks in the form of reports. Information included is like<br />
                1.	Total number of Bookmarks based on the date<br />
                2.	User geographical location based reports<br />
                3.	URL based filtering to know which link was bookmarked highest and more<br />

                This service is absolutely free of cost.<br/>

                Also there are API's which can be accessed to get your desired data. Please submit a request for API access from Contact Us section.
                <br/>
                
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/Reports.png" style="height:200px;width:200px" />
        </div>
    </div>
</div>
