@{
    ViewBag.Title = "Home Page";
}
<div style="height:20px"></div>
<div class="jumbotron">
    @*<h1>Bookkmark</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <h2>Intro</h2>
    <img src="~/Images/Bookmark.jpg" style="width:50px;height:50px" />

    <div class="row"><p>As we all know how important can be our saved bookmarks which we often do it on our personal devices and the inability to access them at 
        times can be disturbing because of change in device or browser or location. 
        Bookkmark is a way of saving all your bookmarks online by just 1 click on the webpage. For the website owners it is a way to increase 
        the traffic by making the users return to your website. </p></div>
    <div style="height:10px"></div>
    <div class="row">
        <div class="col-md-8">
            <span style="font-size:20px;font-weight:bold">Web User</span>
            <p>
                Web users can simply save and access all their bookmarks here on Bookkmarks.com without having it to be dependent on machine or browser and avoid importing and exporting all the times.
                Users can either save their bookmakrs by just 1 click on the webpage or manually maintaining them here and access when you want.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/AnyBrowserMachine.png" style="height:200px;width:200px" />
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <span style="font-size:20px;font-weight:bold">Site Owner</span>
            <p>
                Bookkmark is a way of increasing the web traffic for the site owners by having the user bookmark your site from your web page and have 
                the user access them from anywhere and on any browser to return back to your website.  This will help in making the user come back directly to your site without searching 
                for it online again and landing up in another website. This will also help engaging your users and increase trust.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/IncreaseWebTraffic.jpg" style="height:200px;width:200px" />
        </div>
    </div>
    <div style="height:100px"></div>

    <div class="row">
        <h2>How it works</h2>

        <div class="col-md-6">
            <span style="font-size:20px;font-weight:bold">Web User</span>
            Users can just click once on the Bookkmark icon displayed on the web page and this will be saved in your Bookkmark account on http://bookkmark.com. 
            After saving the bookmark user will see a small green tick mark on the icon to confirm that bookmark has been saved. Bookkmark icon will be disabled for the 
            particular page after bookmarking and also if the user is revisiting the same page. If the user still clicks on the disabled icon then it will open 
            a small window to edit the Bookkmark saved. By default all Bookkmarks will be saved under Default folder until the user edits it to change it to 
            his/her choice.
            In case if the user is not signed in then user will be asked to sign in using any of the popular login or signup options like Facebook or Google or 
            directly registering on Bookkmark.<br/>
            <img src="~/Images/User.png" style="width:70%;height:400px" />
        </div>
        <div class="col-md-6">
            <span style="font-size:20px;font-weight:bold">Site Owner</span>
            Web publishers or site owners should register their website with their site URL and name here on Bookkmark.com. Then select the desired icon 
            size needed to match your application. This will then generate the script. Copy and paste the code in your application where you want the Bookkmark 
            icon to be displayed on your web pages. It is recommended that you place this icon on every unique webpage of your application in such a way that the icon is highlighted and the user 
            bookmarks your website link.<br/>
            <img src="~/Images/User.png" style="width:70%;height:400px" />
        </div>
    </div>
    <div style="height:100px"></div>

    <div class="row">
        <h2>What to expect</h2>
        <div class="col-md-8">
            <span  style="font-size:20px;font-weight:bold">Web User</span>
            <p>
                A tree view kind of structure will be presented to the user 
            where in all the Bookkmarks of the user will be displayed similar to browser bookmark toolbar. Each Bookkmark will have a Name, Link, Date Created and Modified fields.
            User can hide the unwanted columns.  
            All the Bookkmarks will be displayed in alphabetical order of the Folder. All Folders and Bookkmarks can be edited, deleted and a whole new bookkmark 
            can be added manually. Users can also import Bookkmarks by uploading excel or csv file in the required format.       </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/Folders.jpg" style="height:200px;width:200px" />
        </div>
    </div>
    <div style="height:100px"></div>
    <div class="row">
        <div class="col-md-8">
            <span  style="font-size:20px;font-weight:bold">Site Owner</span>
            <p>
                Site Owner/Publisher –Site owner can access information about their site bookmarks in the form of reports. Information included is like<br />
                1.	Total number of Bookkmarks based on the date<br />
                2.	User geographical location based reports<br />
                3.	URL based filtering to know which link was bookmarked highest and more<br />

                This service is absolutely free of cost.<br/>

                Also there are API's which can be accessed to get your desired data. Please submit a request for API access from Contact Us section.
                <br/>
                
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/Reports.png" style="height:200px;width:200px" />
        </div>
    </div>
</div>
