@{
    ViewBag.Title = "Bookmark - ";
    Layout = "~/Views/Shared/Manage_Bookmark.cshtml";
}

<h2>404 Page Not Found!!</h2>

<br />
<br />
<br />
<br />

<span style="color:red;font-weight:bold;font-size:18px">Ooops!! 404 Page not found.</span>