@{
    ViewBag.Title = "Bookkmark - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:100px"></div>
<h2>Policy</h2><br />

<table style="width:100%;">
    <tr>
        <td style="font-size: 16px">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
    </tr>
</table>
